<ul>
    <li><a href="/profile/logout">Logout</a></li>
    <li><a href="/profile/login">Login</a></li>
    <li><a href="/profile/register">Register</a></li>
    <li><a href="/profile/{{user._id}}">Profile</a></li>
</ul>